################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AttributeValidator/v15/.suo
/.vs/Puresharp.AttributeValidator/v15
/AutoSubscribe/bin/Debug
/AutoSubscribe/obj/Debug
/packages
/ParameterValidator/bin/Debug
/ParameterValidator/obj/Debug
/AttributeValidator/bin/Debug
/AttributeValidator/obj/Debug
